<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find the Hidden Animals - Safari Adventure</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/game.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <%- include('components/Navbar') %>
    <section class="activity">
      <div class="">
        <h1>Find the Hidden Animals</h1>
        <p>
          Click on the tiles to reveal parts of the hidden animal. Can you guess
          what it is?
        </p>
      </div>
      <div id="game-container">
        <img
          id="animal-image"
          src="/assets/dog_photo.png"
          alt="Hidden Animal"
        />
        <!-- Tiles will be dynamically generated here -->
      </div>
    </section>
    <%- include('components/Footer') %>
    <script src="/scripts/game.js"></script>
  </body>
</html>
