<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Memory Game</title>
<<<<<<< Updated upstream
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css" >
    <link rel="stylesheet" href="/styles/activity.css" >
=======
<<<<<<< HEAD
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/activity.css" />
=======
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css" >
    <link rel="stylesheet" href="/styles/activity.css" >
>>>>>>> 175f78b5dd2afd83fcb4bd87e4ef4b3268065577
>>>>>>> Stashed changes
  </head>
  <body>
    <header><%- include('./component/Navbar'); %></header>
    <main class="main-container">
      <div class="container">
        <h1>Memory Game</h1>
        <p>Click on the cards to find matching pairs!</p>
        <div class="game-board" id="gameBoard">
          <!-- Cards will be generated here -->
        </div>
        <p id="winMessage" class="win-message"></p>
      </div>
    </main>
    <footer><%- include('./component/Footer'); %></footer>
    <script src="/scripts/activity.js"></script>
  </body>
</html>
