<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theme Park</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <%- include('components/Navbar') %>
    <main>
      <section style="background-color: #ff9c33" class="hero">
        <div>
          <div class="rides-text">
            <h1>
              Largest <br />
              Indoor <br />
              Theme Park
            </h1>
            <p id="open-time">Open every day, April-October from 9am to 7pm</p>
          </div>
          <div class="hero-image">
            <img
              src="/assets/Background_image.png"
              alt="Record-Breaking Rides"
            />
          </div>
        </div>
      </section>
      <section>
        <div class="passes">
          <div class="pass-card">
            <img src="/assets/nav_ab.png" alt="Dream Pass" />
            <div class="card-content">
              <h2>Dream Pass</h2>
              <p>
                Save when you buy our top two American Dream attractions for one
                low price - $145 (Save up to 20%). Fall into fun with 1-day
                admission to both DreamWorks Water Park and Nickelodeon
                Universe.
              </p>
              <a href="#">GET PASSES</a>
            </div>
          </div>
          <div class="pass-card">
            <img
              src="/assets/Park_After_Dark_Twilight_Image.png"
              alt="Summer Season Thrill Pass"
            />
            <div class="card-content">
              <h2>Summer Season Thrill Pass</h2>
              <p>
                At a special price of $149, the Summer Season Thrill Pass is
                perfect for repeat visits! Experience unlimited access to
                Nickelodeon Universe with heart-pounding rides, character meet &
                greets and much more. Valid from May 25th, 2024 until September
                2, 2024.
              </p>
              <a href="#">GET PASSES</a>
            </div>
          </div>
          <div class="pass-card">
            <img src="/assets/nav-tilt.png" alt="All Access Pass" />
            <div class="card-content">
              <h2>All Access Pass</h2>
              <p>
                All Access Passes are valid for one full day of fun at
                Nickelodeon Universe with unlimited ride access.
              </p>
              <a href="#">GET TICKETS</a>
            </div>
          </div>
        </div>
      </section>
      <section style="background-color: #ff6801" class="hero-rides">
        <div
          style="
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div class="rides-text">
            <h1>
              Record- <br />
              Breaking <br />
              Rides
            </h1>
          </div>
          <div class="rides-image">
            <img src="/assets/dog_photo.png" alt="Record-Breaking Rides" />
          </div>
        </div>
        <div class="passes">
          <div class="pass-card">
            <img src="/assets/nav_ab.png" alt="Dream Pass" />
            <div class="card-content">
              <h2>Dream Pass</h2>
              <p>
                Save when you buy our top two American Dream attractions for one
                low price - $145 (Save up to 20%). Fall into fun with 1-day
                admission to both DreamWorks Water Park and Nickelodeon
                Universe.
              </p>
              <a href="#">GET PASSES</a>
            </div>
          </div>
          <div class="pass-card">
            <img
              src="/assets/Park_After_Dark_Twilight_Image.png"
              alt="Summer Season Thrill Pass"
            />
            <div class="card-content">
              <h2>Summer Season Thrill Pass</h2>
              <p>
                At a special price of $149, the Summer Season Thrill Pass is
                perfect for repeat visits! Experience unlimited access to
                Nickelodeon Universe with heart-pounding rides, character meet &
                greets and much more. Valid from May 25th, 2024 until September
                2, 2024.
              </p>
              <a href="#">GET PASSES</a>
            </div>
          </div>
          <div class="pass-card">
            <img src="/assets/nav-tilt.png" alt="All Access Pass" />
            <div class="card-content">
              <h2>All Access Pass</h2>
              <p>
                All Access Passes are valid for one full day of fun at
                Nickelodeon Universe with unlimited ride access.
              </p>
              <a href="#">GET TICKETS</a>
            </div>
          </div>
        </div>
      </section>

      <%- include('components/Footer') %>
    </main>
  </body>
</html>
