<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Navbar</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
      <%- include('./component/Navbar'); %>
    </header>
    <!-- banner -->
    <section class="banner">
      <div class="banner-content"> 
        <h1>
          Magic Kingdom Park
        </h1>
        <p>Magic Kingdom Park, nestled in the enchanting town of Bay Lake, Florida, is a world-renowned destination that brings the magic of imagination to life. Opened on October 1, 1971, this iconic park is a haven for dreamers and adventurers alike. Designed and built with meticulous care, it offers visitors a chance to step into a world of wonder and enchantment.</p>
    
        <a href=""> <h4>Learn More</h4></a>
      </div>
  
    </section>

    <section class="main">
      <div>
        <h2>– Operating Hours</h2>
        <p>Experience the magic all year round! The park is open daily from <span>April to October</span>, welcoming visitors from <span>9am to 7pm.</span>  Make sure to plan your visit and immerse yourself in a day filled with unforgettable adventures.</p>
    
        <a href=""><h4>Learn More</h4></a>
      </div>
    
    </section>
    <section class="attration">
      <h1>– Attractions & Rides</h1>
       <div class="main-attractions">
        <div class="card">
          <img src="/images/wheel.jpg" alt="Bahria Town Eye">
          <div class="card-content">
            <h2>BAHRIA TOWN EYE</h2>
            <p>Our Bahria Town Eye features unique round that take riders to a height of 35 meters where they experience a panoramic view of Bahria Town Karachi.</p>
          </div>
        </div>
        <div class="card">
          <img src="/images/vr.jpg" alt="Shark Attack">
          <div class="card-content">
            <h2>SHARK ATTACK</h2>
            <p>Shark Attack can not only rotate around the center, but also can fly up and down. Shark Attack is equipped with wonderful sound effects and attractive LED lights, making it a better way to enjoy the thrill.</p>
          </div>
        </div>
        <div class="card">
          <img src="/images/elephant.jpg" alt="Adventure Bay">
          <div class="card-content">
            <h2>ADVENTURE BAY</h2>
            <p>Adventure Bay is a virtual splash factory for the entire family. Minimum 7 water slides and other water features such as tipping cones, hose jets, water guns and loads of other fun-filled features! Hours of fun for kids of all ages!</p>
          </div>
        </div>
      
      </div>
      <a href=""><h4>See More</h4></a>
   
    </section>
    <section class="areas">
      <h2>– Magic Kingdom Areas</h2>
       <div class="areas-cards">
        <div class="card">
          <img src="/images/old_town.jpg" alt="Bahria Town Eye">
          <div class="card-content">
            <h2>TOWN ZONE</h2>
        
            <p>Our Bahria Town Eye features unique round that take riders to a height of 35 meters where they experience a panoramic view of Bahria Town Karachi.</p>
            <a href=""><h4>See More</h4></a>
          </div>
        </div>
        <div class="card">
          <img src="/images/dinoland.jpg" alt="Shark Attack">
          <div class="card-content">
            <h2>DINO ATTACK ZONE</h2>
            <p>Shark Attack can not only rotate around the center, but also can fly up and down. Shark Attack is equipped with wonderful sound effects and attractive LED lights, making it a better way to enjoy the thrill.</p>
            <a href=""><h4>See More</h4></a>
          </div>
        </div>
        <div class="card">
          <img src="/images/adventureland.jpg" alt="Adventure Bay">
          <div class="card-content">
            <h2>ADVENTURE BAY ZONE</h2>
            <p>Adventure Bay is a virtual splash factory for the entire family. Minimum 7 water slides and other water features such as tipping cones, hose jets, water guns and loads of other fun-filled features! Hours of fun for kids of all ages!</p>
            <a href=""><h4>See More</h4></a>
          </div>
        
        </div>
      
      </div>
      
    
   
    </section>
    <%- include('./component/Footer'); %>
</body>
</html>
