<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theme Park</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <%- include('components/Navbar') %>
    <main>
      <section class="hero">
        <div
          style="background: linear-gradient(to bottom, #a10033, #f9bd0b)"
          class="image-heading"
        >
          <div class="hero-text">
            <p class="subtitle">The Western Hemisphere's</p>
            <h1>
              Largest <br />
              Indoor AdventureLand
            </h1>
            <p
              style="
                background: rgba(0, 0, 0, 0.5);
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
                padding: 8px;
                border-radius: 10px;
              "
            >
              Open every day, April-October from 9am to 7pm
            </p>
          </div>
          <div class="hero-image">
            <img src="/assets/legends_bg1.png" alt="shrek_and_tigress" />
          </div>
        </div>
      </section>
      <section class="passes">
        <div class="pass-card">
          <img src="/assets/nav_ab.png" alt="Dream Pass" />
          <div class="card-content">
            <h2>Dream Pass</h2>
            <p>
              Save when you buy our top two American Dream attractions for one
              low price - $145 (Save up to 20%). Fall into fun with 1-day
              admission to both DreamWorks Water Park and Nickelodeon Universe.
            </p>
            <a href="#">GET PASSES</a>
          </div>
        </div>
        <div class="pass-card">
          <img
            src="/assets/Park_After_Dark_Twilight_Image.png"
            alt="Summer Season Thrill Pass"
          />
          <div class="card-content">
            <h2>Summer Season Thrill Pass</h2>
            <p>
              At a special price of $149, the Summer Season Thrill Pass is
              perfect for repeat visits! Experience unlimited access to
              Nickelodeon Universe with heart-pounding rides, character meet &
              greets and much more. Valid from May 25th, 2024 until September 2,
              2024.
            </p>
            <a href="#">GET PASSES</a>
          </div>
        </div>
        <div class="pass-card">
          <img src="/assets/nav-tilt.png" alt="All Access Pass" />
          <div class="card-content">
            <h2>All Access Pass</h2>
            <p>
              All Access Passes are valid for one full day of fun at Nickelodeon
              Universe with unlimited ride access.
            </p>
            <a href="#">GET TICKETS</a>
          </div>
        </div>
      </section>
      <section
        style="background: linear-gradient(to bottom, #f9bd0b, #a10033)"
        class="hero-rides"
      >
        <div
          style="
            display: flex;
            width: 80%;
            margin: auto;
            padding-top: 5%;
            padding-bottom: 5%;
            justify-content: space-between;
            row-gap: 5%;
            align-items: center;
          "
        >
          <div class="rides-text">
            <h1>
              Thrilling<br />
              Good Time
            </h1>
          </div>
          <div class="rides-image">
            <img src="/assets/LegendsLogo.png" alt="adventuresecond" />
          </div>
        </div>
        <div
          style="
            display: flex;
            width: 80%;
            justify-content: space-between;
            align-items: center;
            margin: auto;
          "
        >
          <div class="pass-card">
            <img src="/assets/nav_ab.png" alt="Dream Pass" />
            <div class="card-content">
              <h2>Dream Pass</h2>
              <p>
                Save when you buy our top two American Dream attractions for one
                low price - $145 (Save up to 20%). Fall into fun with 1-day
                admission to both DreamWorks Water Park and Nickelodeon
                Universe.
              </p>
              <a href="#">GET PASSES</a>
            </div>
          </div>
          <div class="pass-card">
            <img
              src="/assets/Park_After_Dark_Twilight_Image.png"
              alt="Summer Season Thrill Pass"
            />
            <div class="card-content">
              <h2>Summer Season Thrill Pass</h2>
              <p>
                At a special price of $149, the Summer Season Thrill Pass is
                perfect for repeat visits! Experience unlimited access to
                Nickelodeon Universe with heart-pounding rides, character meet &
                greets and much more. Valid from May 25th, 2024 until September
                2, 2024.
              </p>
              <a href="#">GET PASSES</a>
            </div>
          </div>
          <div class="pass-card">
            <img src="/assets/nav-tilt.png" alt="All Access Pass" />
            <div class="card-content">
              <h2>All Access Pass</h2>
              <p>
                All Access Passes are valid for one full day of fun at
                Nickelodeon Universe with unlimited ride access.
              </p>
              <a href="#">GET TICKETS</a>
            </div>
          </div>
        </div>
      </section>

      <%- include('components/Footer') %>
    </main>
  </body>
</html>
