#game-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}

.tile {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fcbe78;
    cursor: pointer;
    border: 1px solid white;
}

#animal-image {
    width: 100%;
    height: 100%;
    display: none;
}

.activity {
    color: white;
    padding: 2%;
    text-align: center;
    background-color: #f87489;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.activity h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.activity p {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    #game-container {
        width: 100%;
        height: 100%;
        margin: 50px auto;
    }

    .tile {
        width: 70px;
        height: 70px;
    }
}
