/* faq.css */
main {
  width: 100%;
  height: auto;
  background-image: url(/assets/faq.jpg);
}
#faq-section {
  width: 100%;
  margin: auto;
  padding: 0px 10px 10px 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#faq-title {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.faq-list {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.faq-item {
  width: 60%;
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

.faq-item:hover {
  background-color: #e1e1e1;
}

.faq-item h2 {
  font-size: 1.5em;
  color: #333333;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}
