/* faq.css */
main {
  background-size: cover;
  background-image: url(/images/faq.jpg);
  background-position: center;
}
#faq-section {
  width: 100%;
  margin: auto;
  padding: 13%;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#faq-title {
  color: white;
  margin-bottom: 20px;
}

.faq-list {

  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.faq-item {
  background: rgba(255, 255, 255, 0.507);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;

  transition: background-color 0.3s;
  text-align: start;
}

.faq-item h2 {
  font-size: 1.5em;
  color: #333333;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}
