.image-heading {
  background: linear-gradient(to bottom, #538ed3, #5793db);
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 4%;
  height: fit-content;
  position: absolute;
  top: 40px;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
}

/* Hero Section Styles */
.hero > div {
  padding: 5% 10%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero > div {
  padding: 5% 10%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#open-time {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
}
.hero-image {
  position: absolute;
  bottom: -1%;
  right: 0;
  width: 30%;
}
.hero-image img {
  width: 100%;
}

.passes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 5%;
  gap: 2%;
}

.pass-card {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 370px;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px); /* Adjusts the spacing between cards */
}

.pass-card img {
  width: 100%;
  height: 130px; /* Increases the height of the images */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.card-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.card-content a {
  display: inline-block;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.card-content a:hover {
  background: #555;
}

/* Hero Rides Section Styles */
.hero-rides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  background-color: #4379b7;
  padding: 0px 20px 0px 20px;
  margin: 20px 0px 20px 0px;
}

.rides-text {
  max-width: 50%;
  color: #fff;
}

.rides-text h1 {
  font-size: 6rem;
  font-weight: 900;
  text-align: start;
  line-height: 1;
  margin-left: 10%;
}

.rides-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive Styles */

.hero-rides {
  flex-direction: column;
  text-align: center;
  height: auto;
}

.rides-text {
  max-width: 100%;
  margin-bottom: 20px;
}

.rides-text h2 {
  font-size: 3rem;
}

.rides-image img {
  max-width: 80%;
}

@media (max-width: 576px) {
  .rides-text h1 {
    font-size: 2.5rem;
  }
}

/* Ride Cards Section Styles */
.ride-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #ffa500;
}

.ride-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px); /* Adjusts the spacing between cards */
}

.ride-card img {
  width: 100%;
  height: 200px; /* Increases the height of the images */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.ride-card .card-content {
  padding: 20px;
}

.ride-card .card-content h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.ride-card .card-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.ride-card .status {
  color: #ffa500;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ride-card .status i {
  margin-right: 5px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .pass-card,
  .ride-card {
    flex: 1 1 calc(100% - 20px);
  }

  .hero-rides {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .rides-text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .rides-text h2 {
    font-size: 3rem;
  }

  .rides-image img {
    max-width: 80%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .pass-card {
    flex: 1 1 calc(100% - 20px);
  }
}

@media (max-width: 992px) {
  .pass-card,
  .ride-card {
    flex: 1 1 calc(45% - 20px);
  }
  .pass-card {
    flex: 1 1 calc(45% - 20px);
  }
}

@media (max-width: 576px) {
  .rides-text h2 {
    font-size: 2.5rem;
  }
  .pass-card {
    min-width: 300px;
  }

  .header-title {
    font-size: 1rem;
  }
}
