<footer>
    <div class="footer-container">
      <div class="footer-section logo-section">
        <img src="/images/logo.png" alt="Bahria Town Logo">
        <p> Magic Kingdom Park</p>
      </div>
      <div class="footer-section">
        <h3>ABOUT THE PARK</h3>
        <ul>
          <li><a href="#">Park Overview</a></li>
          <li><a href="#">Discover Theme Park</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Our Partners</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Auditions</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>SUPPORT</h3>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Legal Info</a></li>
          <li><a href="#">Height and Safety</a></li>
          <li><a href="#">Lost and Found</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-section contact-section">
        <h3>Address</h3>
        <p>Super Highway<br>USA</p>
        <h3>Call Us 24/7</h3>
        <p>021-37188000</p>
        <h3>Email address</h3>
        <p><a href="mailto:M.Shahnawaz@btk.com">M.Shahnawaz@btk.com</a></p>
      </div>
    </div>
  </footer>
  