<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="navbar">
  <div>
    <img src="/images/logo.png" alt="Logo" class="logo" />

    <a href="/"> <h2>Magic Kingdom Park</h2></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/areas">Areas</a></li>
      <li><a href="/rides">Rides</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/activity">Activity</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
  <button id="bars-btn"><i class="fa-solid fa-bars bars-icon"></i></button>
</div>

<div id="sidebar" class="sidebar">
  <button id="close-btn" class="close-btn">
    <i class="fa-solid fa-times"></i>
  </button>
  <nav id="sidebar-nav">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/areas">Areas</a></li>
      <li><a href="/rides">Rides</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/activity">Activity</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</div>

<script src="/scripts/homepage.js"></script>
